<aside>
  <img src="/assets/logo.png" />
  <h1>{{ title }}</h1>  
  <form id="form-notes" [formGroup]="checkoutForm" (submit)="sendNote()">
    <div class="input-group">
      <label>Nota:</label>
      <textarea
        type="text"
        id="input-cpf"
        formControlName="text"
        required
        placeholder="Digite a nota"
      ></textarea>
      <div *ngIf="text?.touched && text?.invalid">
        <div class="errors" *ngIf="text?.errors?.['required']">
          Este campo é obrigatório
        </div>
        <div class="errors" *ngIf="text?.errors?.['minlength']">
          Precisa ter no mínimo 5 caracteres
        </div>
      </div>
    </div>
    <button formControlName="noteId" *ngIf="noteIdEditable == 0">Salvar</button>
    <button formControlName="noteId" *ngIf="noteIdEditable != 0">Editar</button>
  </form>
  <button (click)="cleanNote()" [style.visibility]="(noteIdEditable == 0) ? 'hidden' : 'visible'">Limpar</button>
</aside>
